src/main/resources/xsd/BitRepositoryMessages.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema
  targetNamespace="http://bitrepository.org/BitRepositoryMessages.xsd"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified"

  xmlns:tn="http://bitrepository.org/BitRepositoryMessages.xsd"
  xmlns="http://bitrepository.org/BitRepositoryMessages.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:bre="http://bitrepository.org/BitRepositoryElements.xsd"
>

  <xs:import schemaLocation="BitRepositoryElements.xsd" namespace="http://bitrepository.org/BitRepositoryElements.xsd" />


  <!-- Message super type definitions -->
  
  <xs:complexType name="Message">
    <xs:annotation><xs:documentation xml:lang="en">
    The Bitrepository message supper class. All message types must extend this
    type. The type defines all the common message elements 
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element ref="bre:CorrelationID">
        <xs:annotation><xs:documentation xml:lang="en">
        CorrelationID is a unique identifier for communication usually on primitive level,
        e.g the IdentifyPillarsForGet part of a get operation
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element ref="bre:CollectionID">
        <xs:annotation><xs:documentation xml:lang="en">
        BitRepositoryCollectionID is a unique identifier for bit repository collection
        which data belongs to.
        This is also the identification of decryption and keys for contents of message,
        and it is part of unique identification of files together with a file id.
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element ref="bre:To">
        <xs:annotation><xs:documentation xml:lang="en">
        Identifies the destination which the message is sent to
        </xs:documentation></xs:annotation>
      </xs:element>

      <xs:element ref="bre:ReplyTo">
        <xs:annotation><xs:documentation xml:lang="en">
        Identifies the destination any responds should be sent to
        (blank if not relevant, e.g. for alarms)
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
  
    <xs:attributeGroup ref="bre:VersionAttributes"/>
  </xs:complexType>

  <xs:complexType name="MessageResponse">
    <xs:annotation><xs:documentation xml:lang="en">
    Defines the elements common to all requests. All request message types must extend this type.
    </xs:documentation></xs:annotation>
    <xs:complexContent>
      <xs:extension base="Message">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MessageRequest">
    <xs:annotation><xs:documentation xml:lang="en">
    Defines the elements common to all responses. All response types must extend 
    this type.
    </xs:documentation></xs:annotation>
    <xs:complexContent>
      <xs:extension base="Message">
        <xs:sequence>
     
        <xs:element ref="bre:AuditTrailInformation" minOccurs="0" maxOccurs="1">
          <xs:annotation><xs:documentation xml:lang="en">
          Audit Trail Information known to sender to be added to receiver audit trail.
          Usually used by a client who knows a system user and wants this information as part of pillar 
          audit trail.
          </xs:documentation></xs:annotation>
        </xs:element>
        
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- Concrete message definitions -->

  <!-- Implements the GetFile functionality as described here: https://sbforge.org/display/BITMAG/Get+File -->

  <xs:element name="IdentifyPillarsForGetFileRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      Used for starting a GetFile operation. All pillars able to provide the 
      indicated file should respond.
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="tn:MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:FileID">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  Unique identifier for requested file in given bit repository collection
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForGetFileResponse">
    <xs:complexType>   
      <xs:annotation><xs:documentation xml:lang="en">
      RESPONSE in IdentifyPillarsForGetFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for requested file in given bit repository collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:PillarID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for pillar replying
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Response information telling that the Identify request has been received and
              if an operation request can be met. This response info can be used to send 'negative' Identify responses.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:TimeToDeliver" >
              <xs:annotation><xs:documentation xml:lang="en">
              Estimated time before delivery of file requested.
              That means the time from receiving a GetFileRequest message to the time
              when file is uploaded.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      Request upload of a file from a specific pillar to a file exchange server.
      </xs:documentation></xs:annotation>
        <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of receiving pillar, which can be used for possible checks
              (IdentifyPillarsForGetFileResponse.ReplyTo should ensure that right pillar is reached)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for requested file in given bit repository collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FilePart" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Specification of part of the file, in case only a part is wanted
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileAddress" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where file must be delivered
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileProgressResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      Returns progress info from a pillar regarding a GetFile operation. 
      
      Note that there can be more responses to the same GetFileRequest, e.g. if a
      DVD pillar gives running status of where it is in the get process.
      
      Examples of progress info are: <ol>
      <li>Request accepted</li>
      <li>File upload started accepted</li>
      </ol>
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of replying pillar, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for requested file in given bit repository collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FilePart" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Specification of part of the file, in case only a part is wanted
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileAddress" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where file will be delivered
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              ProgressResponse information telling whether GetFileRequest has been received and is expected to be completed
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileSize" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Expected size of file to be send, expressed in bytes.
              This can be used in e.g. capacity checks
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ChecksumsDataForFile" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Different Checksums of the file to be sent.
              This can be used in checks of correct receival.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileFinalResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      FINAL RESPONSE in GetFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
        <xs:sequence>
          <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Identifier of replying pillar, which can be used for possible checks
            (otherwise it is known via CorrelationID and ReplyTo)
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileID" >
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for requested file in given bit repository collection
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FilePart" minOccurs="0" maxOccurs="1">
            <xs:annotation><xs:documentation xml:lang="en">
            Specification of part of the file, in case only a part is wanted
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileAddress" >
            <xs:annotation><xs:documentation xml:lang="en">
            Address (e.g. in form of an URL) for where file has been delivered (if completed)
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ResponseInfo" >
            <xs:annotation><xs:documentation xml:lang="en">
            Information on how Get has been completed
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!-- Implements the PutFile functionality as described here: https://sbforge.org/display/BITMAG/Put+File -->

  <xs:element name="IdentifyPillarsForPutFileRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in IdentifyPillarsForPutFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
        <xs:sequence>
          <xs:element ref="bre:FileID" minOccurs="0" maxOccurs="1">
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for file to be put for given collection.
            This can be used for duplicate ID check.
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileSize" minOccurs="0" maxOccurs="1">
            <xs:annotation><xs:documentation xml:lang="en">
            Expected size of file to be put, expressed in bytes.
            This can be used in e.g. capacity checks
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForPutFileResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      RESPONSE in IdentifyPillarsForPutFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
        <xs:sequence>
          <xs:element ref="bre:PillarID" >
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for pillar replying
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:PillarChecksumSpec" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Checksums type in case it is a checksum pillar replying
            It is only informative for possible later checks
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ResponseInfo" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Response information telling that the Identify request has been received and
            if an operation request can be met. This response info can be used to send 'negative' Identify responses.
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:TimeToDeliver" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Estimated time before file is downloaded
            That means the time from receiving a PutFileRequest message to the time
            when file is downloaded at least to a temporary buffer on the pillar.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="PutFileRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in PutFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
        <xs:sequence>
          <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Identifier of receiving pillar, which can be used for possible checks
            (IdentifyPillarsForPutFileResponse.ReplyTo should ensure that right pillar is reached)
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileID" >
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for file to be put for given collection
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileAddress" >
            <xs:annotation><xs:documentation xml:lang="en">
            Address (e.g. in form of an URL) for where file must be downloaded from
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileSize">
            <xs:annotation><xs:documentation xml:lang="en">
            Expected size of file to be put, expressed in bytes.
            This can be used in e.g. capacity checks
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ChecksumsDataForNewFile">
            <xs:annotation><xs:documentation xml:lang="en">
            Optionally checksums (and type and possibly salt) of file to be put.
            This can be used in checks of correct receival.
            </xs:documentation></xs:annotation>
          </xs:element>
          
          <xs:element ref="bre:FileChecksumSpec" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Optionally salt and/or type of checksum for extra checksumscheck of file at
            completion to of put file. The result can be given in PutFileFinalResponse
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="PutFileProgressResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      PROGRESS RESPONSE in PutFile primitive
      Note that there can be more responses to the same PutFileRequest, e.g. if a
      DVD pillar gives running status of where it is in the put process.
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
        <xs:sequence>
          <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Identifier of responding pillar, which can be used for possible checks
            (otherwise it is known via CorrelationID and ReplyTo)
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:PillarChecksumSpec" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Checksums specification of responding checksums pillar, which can be used for possible checks
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileID" >
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for file to be put for given bit repository collection
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileAddress" >
            <xs:annotation><xs:documentation xml:lang="en">
            Address (e.g. in form of an URL) for where file is to be downloaded from
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ResponseInfo" >
            <xs:annotation><xs:documentation xml:lang="en">
            ProgressResponse information telling whether PutFileRequest has been received and is expected to be completed
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="PutFileFinalResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      FINAL RESPONSE in PutFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
        <xs:sequence>
          <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Identifier of responding pillar, which can be used for possible checks
            (otherwise it is known via CorrelationID and ReplyTo)
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:PillarChecksumSpec" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Checksums type of responding checksums pillar, which can be used for possible checks
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileID" >
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for file to be put for given bit repository collection
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileAddress" >
            <xs:annotation><xs:documentation xml:lang="en">
            Address (e.g. in form of an URL) for where file has been downloaded from (if completed)
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ResponseInfo" >
            <xs:annotation><xs:documentation xml:lang="en">
            Information on how PutFile has been completed
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ChecksumsDataForNewFile">
            <xs:annotation><xs:documentation xml:lang="en">
            Checksum calculated as specified in PutFileRequest, if specified
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


   <!-- Implements the DeleteFile functionality as described here: https://sbforge.org/display/BITMAG/Delete+File -->

  <xs:element name="IdentifyPillarsForDeleteFileRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      Requests for all pillars to respond which can perform a delete operation on the specified file.
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
        <xs:sequence>
          <xs:element ref="bre:FileID" >
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for file to be deleted from given bit repository collection
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForDeleteFileResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      RESPONSE in IdentifyPillarsForDeleteFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
        <xs:sequence>
          <xs:element ref="bre:FileID" >
            <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for file to be deleted from given bit repository collection
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:PillarID" >
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for pillar replying
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:PillarChecksumSpec" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Checksum type can be given for both regular and checksum pillar.
            The checksum type is necessary for sending correct checksum in later delete request,
            as file (or checksum) may only be deleted after checksum check on pillar.
            The element is not required as this information is also part of settings.
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ResponseInfo" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Response information telling that the Identify request has been received and
            if an operation request can be met. This response info can be used to send 'negative' Identify responses.
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:TimeToDeliver" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Estimated time before file is deleted.
            That means the time from receiving a DeleteFileRequest message to the time
            when file is deleted from pillar (or no longer visible).
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="DeleteFileRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in DeleteFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
    
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of receiving pillar, which can be used for possible checks
              (IdentifyPillarsForDeleteFileResponse.ReplyTo should ensure that right pillar is reached)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for file to be deleted from given collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ChecksumsDataForFile">
              <xs:annotation><xs:documentation xml:lang="en">
              Checksums (and type and possibly salt) of file to be deleted.
              This should be used in checks on pillar to ensure the correct file is deleted.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileChecksumSpec" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Optionally salt and/or type of checksum for extra checksumscheck of file at
              completion to of put file. The result can be given in DeleteFileFinalResponse
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteFileProgressResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      PROGRESS RESPONSE in DeleteFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding pillar, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for file to be deleted from given bit repository collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              ProgressResponse information telling whether DeleteFileRequest
              has been received and is expected to be completed
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteFileFinalResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      FINAL RESPONSE in DeleteFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding pillar, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for file that was to be deleted from given bit repository collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              Information on how DeleteFile has been completed
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ChecksumsDataForFile" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Checksum calculated as specified in DeleteFileRequest, if specified
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  
  <!-- Implements the ReplaceFile functionality as described here: https://sbforge.org/display/BITMAG/Replace+File -->

  <xs:element name="IdentifyPillarsForReplaceFileRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in IdentifyPillarsForReplaceFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for file to be replaced in given bit repository collection
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForReplaceFileResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      RESPONSE in IdentifyPillarsForReplaceFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
                Unique identifier for file to be replaced in given bit repository collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:PillarID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for pillar replying
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:PillarChecksumSpec" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Checksum type can be given for both regular and checksum pillar.
              The checksum type is necessary for sending correct checksum in later replace request,
              as file (or checksum) may only be replaced after checksum check on pillar.
              The element is not required as this information is also part of settings.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Response information telling that the Identify request has been received and
              if an operation request can be met. This response info can be used to send 'negative' Identify responses.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:TimeToDeliver" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Estimated time before file is replaced.
              That means the time from receiving a ReplaceFileRequest message to the time
              when file is replaced on pillar.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReplaceFileRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in ReplaceFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of receiving pillar, which can be used for possible checks
              (IdentifyPillarsForReplaceFileResponse.ReplyTo should ensure that right pillar is reached)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for file to be replaced in given collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ChecksumsDataForFile">
              <xs:annotation><xs:documentation xml:lang="en">
              Checksums (and type and possibly salt) of file to be replaced; that is the _old_ file.
              This should be used in checks on pillar to ensure the correct file is deleted.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileAddress" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where file must be downloaded from
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileSize" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Expected size of file to be put, expressed in bytes.
              This can be used in e.g. capacity checks
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ChecksumsDataForNewFile" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Optionally checksums (and type and possibly salt) of new file to be put in replace operation.
              This can be used in checks of correct receival.
              </xs:documentation></xs:annotation>
            </xs:element>
            
            <xs:element ref="bre:FileChecksumSpec" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Optionally salt and/or type of checksum for extra checksumscheck of file at
              completion to of put file. The result can be given in ReplaceFileFinalResponse
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReplaceFileProgressResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      PROGRESS RESPONSE in ReplaceFile primitive
      Note that there can be more responses to the same ReplaceFileRequest, e.g. if a
      DVD pillar gives running status of where it is in the replace process.
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding pillar, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:PillarChecksumSpec" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Checksums specification of responding checksums pillar, which can be used for possible checks
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for file to be replaced in given bit repository collection
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileAddress" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where new file is to be downloaded from
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              ProgressResponse information telling whether ReplaceFileRequest has been received and is expected to be completed
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReplaceFileFinalResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      FINAL RESPONSE in ReplaceFile primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
        <xs:sequence>
          <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Identifier of responding pillar, which can be used for possible checks
            (otherwise it is known via CorrelationID and ReplyTo)
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:PillarChecksumSpec" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            Checksums type of responding checksums pillar, which can be used for possible checks
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileID" >
            <xs:annotation><xs:documentation xml:lang="en">
            Unique identifier for file to be replaced in given bit repository collection
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:FileAddress" >
            <xs:annotation><xs:documentation xml:lang="en">
            Address (e.g. in form of an URL) for where new file has been downloaded from (if completed)
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ResponseInfo" >
            <xs:annotation><xs:documentation xml:lang="en">
            Information on how ReplaceFile has been completed
            </xs:documentation></xs:annotation>
          </xs:element>
  
          <xs:element ref="bre:ChecksumsDataForFile" minOccurs="0" maxOccurs="1">
            <xs:annotation><xs:documentation xml:lang="en">
            Checksum of replaced file calculated as specified in ReplaceFileRequest, if specified
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


    <!-- Implements the GetChecksums functionality as described here: https://sbforge.org/display/BITMAG/Get+Checksums -->
 
  <xs:element name="IdentifyPillarsForGetChecksumsRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in IdentifyPillarsForGetChecksums primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:FileIDs" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileIDs uniquely identifies the files in given bit repository collection which the checksums are requested for
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileChecksumSpec" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Optional checksums type and possible salt parameter requested
              (only pillars that can deliver this kind of checksum should reply).
              If not present pillars should use the default checksumtype specified in CollectionSettings.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForGetChecksumsResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      RESPONSE in IdentifyPillarsForGetChecksums primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
    
            <xs:element ref="bre:FileIDs" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileIDs uniquely identifies the files in given collection which the checksums are requested for
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileChecksumSpec" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Checksums type and possible salt requested
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:PillarID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for the pillar replying
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:PillarChecksumSpec" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Checksums type in case it is a checksum pillar replying,
              only used for extra checks
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Response information telling that the Identify request has been received and
              if an operation request can be met. This response info can be used to send 'negative' Identify responses.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:TimeToDeliver" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Estimated time before delivery of checksums requested
              That means the time from receiving a GetChecksumsRequest message to the time
              when checksum data is uploaded.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in GetChecksums primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of receiving pillar, which can be used for possible checks
              (IdentifyPillarsForGetChecksumsResponse.ReplyTo should ensure that right pillar is reached)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileIDs uniquely identifies the files in given bit repository collection which the checksums are requested for
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileChecksumSpec" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Checksums type and possible salt requested
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where checksums must be delivered via file exchange.
              In cases where the address is not given, the result will be given in the GetChecksumsFinalResponse message
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsProgressResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      PROGRESS RESPONSE in GetChecksums primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding pillar, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileIDs uniquely identifies the files in given bit repository collection which the checksums are requested for
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileChecksumSpec" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              Checksums type and possible salt requested
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where checksums will be delivered
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              ProgressResponse information telling whether GetChecksumsRequest has been received and is expected to be
              completed
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetChecksumsFinalResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      FINAL RESPONSE in GetChecksums primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding pillar, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileChecksumSpec" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Checksums type and possible salt requested
              (Also in result, and traceable via CorrelationID)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              Information on how GetChecksums has been completed
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultingChecksums" minOccurs="0" maxOccurs="1">
              <xs:annotation><xs:documentation xml:lang="en">
              result with requested checksums
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  
  <!-- Implements the GetFileIDs functionality as described here: https://sbforge.org/display/BITMAG/Get+FileIDs -->

  <xs:element name="IdentifyPillarsForGetFileIDsRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in IdentifyPillarsForGetFileIDs primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
        <xs:sequence>
          <xs:element ref="bre:FileIDs" minOccurs="0" maxOccurs="1" >
            <xs:annotation><xs:documentation xml:lang="en">
            FileIDs uniquely identifies the files in given bit repository collection which the file ids are requested for
            Given in order to be able to give possible estimate of time to deliver
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyPillarsForGetFileIDsResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      RESPONSE in IdentifyPillarsForGetFileIDs primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identifier for pillar replying
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en" >
              FileIDs uniquely identifies the files in given bit repository collection which the file ids are requested for
              only to repeat parameter from request.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Response information telling that the Identify request has been received and
              if an operation request can be met. This response info can be used to send 'negative' Identify responses.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:TimeToDeliver" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Estimated time before delivery of data (fileIDs) requested
              That means the time from receiving a GetFileIDsRequest message to the time
              when data is uploaded.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileIDsRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in GetFileIDs primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of receiving pillar, which can be used for possible checks
              (IdentifyPillarsForGetFileIDsResponse.ReplyTo should ensure that right pillar is reached)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileIDs uniquely identifies the files in given bit repository collection which the file ids are requested for
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where data (file IDs) must be delivered via file exchange
              In cases where the address is not given, the result will be given in the GetFileIdsFinalResponse message
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileIDsProgressResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      PROGRESS RESPONSE in GetFileIDs primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding pillar, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileIDs uniquely identifies the files in given bit repository collection which the file ids are requested for
              (otherwise it is known via CorrelationID)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where data (file IDs) will be delivered
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              ProgressResponse information telling whether GetFilIDsRequest has been received and is expected to be completed
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetFileIDsFinalResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      FINAL RESPONSE in GetFileIDs primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:PillarID" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding pillar, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileIDs uniquely identifies the files in given collection which the file ids are requested for. If not present
              it means all the requested files are present on the pillar.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              Information on how GetFileIDs has been completed
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultingFileIDs">
              <xs:annotation><xs:documentation xml:lang="en">
              Result with file IDs
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!-- Implements the GetStatus functionality as described here: https://sbforge.org/display/BITMAG/Get+Status -->

  <xs:element name="IdentifyContributorsForGetStatusRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in IdentifyContributorsForGetStatus primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyContributorsForGetStatusResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      RESPONSE in IdentifyContributorsForGetStatus primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:Contributor" >
              <xs:annotation><xs:documentation xml:lang="en">
              Unique identification of contributor replying
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Response information telling that the Identify request has been received and
              if an operation request can be met. This response info can be used to send 'negative' Identify responses.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:TimeToDeliver" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Estimated time before delivery of requested status
              That means the time from receiving a GetStatusRequest message to the time
              status response is uploaded.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetStatusRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in GetStatus primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:Contributor" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of receiving component, which can be used for possible checks
              (IdentifyContributiorsForGetStatusResponse.ReplyTo should ensure that right component is reached)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where results must be delivered via file exchange.
              In cases where the address is not given, the result will be given in the GetStatusFinalResponse message
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetStatusProgressResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      PROGRESS RESPONSE in GetStatus primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:Contributor" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding contributor, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where results will be delivered
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              ProgressResponse information telling whether GetStatusRequest has been received and is expected to be completed
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetStatusFinalResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      FINAL RESPONSE in GetStatus primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:Contributor" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding contributor, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              Information on how GetStatus has been completed
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultingStatus">
              <xs:annotation><xs:documentation xml:lang="en">
              result with requested status
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

 
  <!-- Implements the GetAuditTrail functionality as described here: https://sbforge.org/display/BITMAG/Get+Audit+Trails -->

  <xs:element name="IdentifyContributorsForGetAuditTrailsRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in IdentifyContributorsForGetAuditTrails primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:FileIDs" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileID uniquely identifies the files in given bit repository collection which the audit trails are requested for
              Given in order to be able to give possible estimate of time to deliver
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IdentifyContributorsForGetAuditTrailsResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      RESPONSE in IdentifyContributorsForGetAuditTrails primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:Contributor">
              <xs:annotation><xs:documentation xml:lang="en">
              Type and unique identifier for contributor replying
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en" >
              FileID uniquely identifies the files in given bit repository collection which the audit trails are requested for
              only to repeat parameter from request
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Response information telling that the Identify request has been received and
              if an operation request can be met. This response info can be used to send 'negative' Identify responses.
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:TimeToDeliver" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Estimated time before delivery of data requested
              That means the time from receiving a GetAuditTrailsRequest message to the time
              when data is delivered.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
          </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAuditTrailsRequest">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      REQUEST in GetAuditTrails primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageRequest">
          <xs:sequence>
            <xs:element ref="bre:Contributor" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of receiving contributor, which can be used for possible checks
              (IdentifyContributorsForGetAuditTrailsResponse.ReplyTo should ensure that right pillar is reached)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileID uniquely identifies the files in given bit repository collection which the audit trails are requested for
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where audit trails must be delivered via file exchange
              In cases where the address is not given, the result will be given in the GetAuditTrailsFinalResponse message
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAuditTrailsProgressResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      PROGRESS RESPONSE in GetFileIDs primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:Contributor" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding contributor, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileID uniquely identifies the files in given bit repository collection which the audit trails are requested for
              (otherwise it is known via CorrelationID)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultAddress" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Address (e.g. in form of an URL) for where data will be delivered
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              ProgressResponse information telling whether GetAuditTrailsRequest has been received and is expected to be completed
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAuditTrailsFinalResponse">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      FINAL RESPONSE in GetAuditTrails primitive
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="MessageResponse">
          <xs:sequence>
            <xs:element ref="bre:Contributor" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of responding contributor, which can be used for possible checks
              (otherwise it is known via CorrelationID and ReplyTo)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:FileIDs" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              FileID uniquely identifies the files in given bit repository collection which the audit trails are requested for
              (otherwise it is known via CorrelationID)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResponseInfo" >
              <xs:annotation><xs:documentation xml:lang="en">
              Information on how GetAuditTrails has been completed
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:ResultingAuditTrails">
              <xs:annotation><xs:documentation xml:lang="en">
              Result with audit trails
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!-- Implements the Alarm functionality as described here: https://sbforge.org/display/BITMAG/Alarms -->
	
  <xs:element name="Alarm">
    <xs:complexType>
      <xs:annotation><xs:documentation xml:lang="en">
      Alarm Messages are sent in error situations where the Bit Repository operators should be notified
      </xs:documentation></xs:annotation>
      <xs:complexContent>
        <xs:extension base="Message">
          <xs:sequence>
            <xs:element ref="bre:AlarmRaiser" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Identifier of component who raises the alarm (typically it will be the sender of the message)
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:AlarmDescription" >
              <xs:annotation><xs:documentation xml:lang="en">
              Description of what the alarm consist of
              </xs:documentation></xs:annotation>
            </xs:element>
    
            <xs:element ref="bre:AlarmConcerning" minOccurs="0" maxOccurs="1" >
              <xs:annotation><xs:documentation xml:lang="en">
              Contains information on which components the alarm concern
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    </xs:element>
</xs:schema>
